.spot-reviews{
    padding-top: 15px;
}

.bottom-reviews{
    font-size: 20px;
    font-weight: 600;
}

.user-review{
    font-size: 18px;

}

ul{
    padding-left: 0;
}

.date-review{
    color: lightgray;
    font-size: 18px;
}

.actual-review{
    font-size: 15px;
}

.post-your-review-button{
    background-color: #505050;
    border: 2px solid black;
    box-shadow: 2px 2px 0px rgba(0,0,0, 1);
    color: white;
    margin-top: 15px;
    margin-right: 10px;
}
