.manage-spots-container{
    margin: 10px;
    margin-left: 80px;
}

.manage-spots-buttons{
    background-color: #505050;
    border: 2px solid black;
    box-shadow: 2px 2px 0px rgba(0,0,0, 1);
    color: white;
}

.manage-spots-update-buttons{
    background-color: #505050;
    border: 2px solid black;
    box-shadow: 2px 2px 0px rgba(0,0,0, 1);
    color: white;
    margin-top: 15px;
    margin-right: 10px;
}
