.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid lightgray;
    margin-top: 12px;
}

.home-link {
    font: 24pt bold;
    color: #FF5A5F;
    text-decoration: none;
    padding-left: 2px;
}

.menu-button {
    cursor: pointer;
    margin-right: 25px;
    margin-top: 12px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 25%;
}

.logo{
    width: 30px;
    height: 30px;
    padding-left: 25px;
    border: none
}

.login-signup-container{
    border: 2px solid black;
    margin-right: 25px;
    margin-left: 20px;
}

.login{
    background: none;
    border: 0;
}

.signup{
    background: none;
    border: 0;
}

.nav-create-spot{
    text-decoration: none;
    color: #68A2C4;
    padding-right: 10px;
}

.profile-dropdown{
    margin-top: 3px;
}

.logged-user-container{
    border: 3px solid black;
    text-align: center;
    padding: 4px;
}

.user-email-nav{
    border-bottom: 3px solid black;
    padding-top: 4px;
    padding-bottom: 6px;
}

.manage-spots-nav{
    border-bottom: 3px solid black;
}

.manage-spots-button{
    text-decoration: none;
    color: black;
}

.logout-button-nav{
    background-color: #585858;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 3px;
}
